@media (min-width: 1024px) and (min-aspect-ratio: 1940/1050) {
    html {
        font-size: 0.0952380952380952vh;
    }
}

@media (min-width: 1024px) and (max-aspect-ratio: 1940/1050) {
    html {
        font-size: 0.0515463917525773vw;
    }
}

.container {
    display: grid;
    grid-template-columns: 670rem 1270fr;
    width: 1940rem;
    aspect-ratio: 1940/1050;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    background-color: black;
}

.container_left {
    padding-top: 60rem;
}

.select_tower {
    width: 574rem;
    height: 60rem;
    border-top: 1rem solid rgba(59, 59, 59, 1);
    border-bottom: 1rem solid rgba(59, 59, 59, 1)
}

.tower {
    height: 36rem;
    border-right: 1rem solid rgba(59, 59, 59, 1)
}

.choose {
    position: relative;
    border-top: 1rem solid rgba(59, 59, 59, 1);
    border-bottom: 1rem solid rgba(59, 59, 59, 1);
    flex-wrap: wrap;
    gap: 24rem;
    padding-top: 18rem;
    padding-bottom: 18rem;
}

.choose_floor {
    color: rgba(59, 59, 59, 1);
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translateX(-50%);
}

.icon_tower {
    width: 36rem;
    height: 36rem;
}

.img_tower {
    width: 334rem;
    height: 588rem;
    margin-right: 48rem;
    border-radius: 8rem;
    box-shadow: 5rem 5rem 5rem 0rem rgba(0, 0, 0, 0.2);
}

.logo {
    width: 168rem;
    height: 48rem;
    margin-right: 93rem;
}

.select_floor {
    width: 192rem;
}

.btn_arrow_left {
    width: 36rem;
    height: 144rem;
    margin-top: 276rem;
    margin-right: 250rem;
}

.map_floor {
    width: 698rem;
    height: 624rem;
    margin-top: 72rem;
}

.container_right {
    background-image: url(../asset/background-image.png);
    overflow: hidden;
    background-size: cover;
}

.compass {
    width: 96rem;
    height: 96rem;
}

.footer_right {
    width: 1270rem;
    height: 258rem;
    background-color: rgba(0, 0, 0, 0.2);
    padding-left: 24rem;
    align-items: center;
}

.width_change {
    width: 22rem;
}

.border_change {
    border-radius: 8rem 0 0 8rem;
}