@media (max-width: 480px) and (min-aspect-ratio: 480/1066) {
    html {
        font-size: 0.0937505859411621vh;
    }
}

@media (max-width: 480px) and (max-aspect-ratio: 480/1066) {
    html {
        font-size: 0.2083333333333333vw;
    }
}

@media (max-width: 480px) {
    .container {
        grid-template-columns: 384rem 96fr;
        width: 480rem;
        aspect-ratio: 480/1066.66;
    }

    .container_left {
        padding-bottom: 22.66rem;
    }

    .select_tower {
        width: 348rem;
        height: 48rem;
    }

    .tower {
        height: 24rem;
    }

    .choose {
        width: 300rem;
    }

    .icon_tower {
        width: 24rem;
        height: 24rem;
    }

    .img_tower {
        width: 348rem;
        height: 612rem;
        margin-right: 0;
    }

    .hidden_mb {
        display: flex;
    }

    .select_floor_mb {
        position: relative;
        width: 300rem;
        border-top: 1rem solid rgba(59, 59, 59, 1);
        border-bottom: 1rem solid rgba(59, 59, 59, 1);
        align-items: center;
    }

    .body_left {
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-right: 0;
    }

    .footer_right {
        height: 274.66rem;
    }

    .mr_mb_0 {
        margin-right: 0;
    }

    .wh_arrow {
        width: 12rem;
        height: 36rem;
    }
}